.button {
    padding: 15px;
    appearance: none;
    border: none;
    background: none;
    transition: .2s;
    font-size: 1.1em;
    display: flex;
    color: #333;
    font-weight: 600;
    text-decoration: underline;
}
.button:hover {
    color: blue;
}
.button:active {
    color: blue;
}